@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=MemberShip-page.css.map */
.header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo img {
  width: 90px;
  height: 80px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
.nav a {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  color: rgba(91, 91, 91, 1);
}
.header__profile {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__profile img {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  opacity: 1;
}
.user__name {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.price {
  padding: 20px;
}
.price__title {
  padding-top: 50px;
  font-family: "Poppins" sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  color: rgba(73, 187, 189, 1);
}
.price__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 70px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 370px;
  height: 536px;
  opacity: 1;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 370px;
  height: 536px;
  opacity: 1;
  box-shadow: 0px 2px 10px rgb(223, 201, 201);
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.card__subtitle {
  font-family: "Inter" sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  vertical-align: middle;
}
.card__name {
  display: flex;
  align-items: baseline;
  width: 306px;
  height: 56px;
  top: 48px;
  opacity: 1;
  margin-bottom: 30px;
}
.name__first {
  font-family: "Inter" sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -1px;
  vertical-align: middle;
}
.name__second {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -1px;
}
.card__feature {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.check__icon1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/BG1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.check__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/BG2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.check__icon2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.card__btn {
  color: rgba(73, 187, 189, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 256px;
  height: 64px;
  border-radius: 16px;
  border-width: 1px;
  opacity: 1;
  border: 1px solid rgba(173, 173, 173, 1);
}
.card__btn2 {
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 256px;
  height: 64px;
  border-radius: 16px;
  border-width: 1px;
  opacity: 1;
  background: rgba(73, 187, 189, 1);
}
.card__btn3 {
  color: rgba(73, 187, 189, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 256px;
  height: 64px;
  border-radius: 16px;
  border-width: 1px;
  opacity: 1;
  border: 1px solid rgba(173, 173, 173, 1);
}
.second__section {
  padding-top: 197px;
  padding-bottom: 100px;
}
.second__container {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 380px;
  background: rgba(37, 38, 65, 1);
  border-radius: 37px;
  padding: 70px 0px;
}
.second__container h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}
.second__container p {
  width: 959px;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 2%;
  text-align: center;
}
.second__btn {
  margin-top: 35px;
  color: rgba(255, 255, 255, 1);
  background: rgba(73, 187, 189, 1);
  width: 236px;
  font-size: 16px;
  height: 63px;
  opacity: 1;
  border: none;
  border-radius: 12px;
}
.course__section {
  padding: 20px;
}
.course__container {
  padding: 20px;
}
.course__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 7px;
}
.course__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.course__info span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(85, 239, 196, 1);
}
.course__info p {
  margin: 0;
  font-size: 16px;
  color: #000000;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.course__card1 {
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid #000;
}
.course__info1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.course__info1 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.course__info1 span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(85, 239, 196, 1);
}
.course__info1 p {
  margin: 0;
  font-size: 16px;
  color: #000000;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.box {
  margin-top: 16px;
  margin-left: 24px;
  font-size: 14px;
  color: #000000;
}
.box p {
  color: rgba(105, 105, 132, 1);
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 2%;
}
.student__section {
  padding-bottom: 30px;
  background: rgb(170, 203, 238);
}
.student__container {
  padding: 20px;
}
.student__container h2 {
  padding: 50px 50px;
  color: rgba(45, 52, 54, 1);
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}
.student__cards {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.student__card {
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  width: 304px;
  height: 295px;
  opacity: 1;
  border-radius: 20px;
}
.st__img {
  padding: 10px;
  width: 118px;
  height: 118px;
  background: #6b6262;
  border-radius: 10px;
}
.student__image {
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 6px;
}
.student__name {
  color: rgba(45, 52, 54, 1);
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}
.student__bio {
  color: rgba(105, 105, 132, 1);
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
}
.app__section {
  padding: 50px;
}
.app__container {
  background: rgba(37, 38, 65, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  height: 150px;
  border-radius: 37px;
  padding: 80px;
}
.app__title {
  color: #fff;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.btns {
  width: 340px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.first__btn {
  color: #fff;
  height: 40px;
  background: rgba(41, 185, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 254px;
  opacity: 1;
  border-radius: 12px;
}
.teacher__section {
  margin-bottom: 100px;
}
.teacher__container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.teacher__card {
  box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);
  padding: 20px;
  width: 530px;
  height: 600px;
  opacity: 1;
  border-radius: 20px;
}
.teacher__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.teacher__text img {
  width: 500px;
  height: 342.5px;
  opacity: 1;
  border-radius: 20px;
}
.teacher__title {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 180%;
  letter-spacing: 0%;
}
.teacher__bio {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0%;
}
.teacher__btn {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
.teacher__button {
  color: #fff;
  background: rgba(73, 187, 189, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 55px;
  opacity: 1;
  border-radius: 12px;
}
.footer {
  background: rgba(37, 38, 65, 1);
}
.container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__logo p {
  width: 150px;
  color: #fff;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 4%;
}
.form__container p {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgba(178, 179, 207, 1);
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
input {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  background: rgba(37, 38, 65, 1);
  width: 300px;
  height: 50px;
  opacity: 1;
  border: 1px solid #494343;
  border-radius: 80px;
}
.submit__btn {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  background: rgba(73, 187, 189, 1);
  width: 159px;
  height: 50px;
  border: none;
  color: #fff;
  opacity: 1;
  border-radius: 60px;
}
.careers {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  margin-top: 50px;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 4%;
  color: rgba(178, 179, 207, 1);
  text-align: center;
  padding-bottom: 15px;
}
.footer__end {
  font-family: 'Poppins' sans-serif;
  color: rgba(178, 179, 207, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  padding: 10px;
}
