
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}

:root {
  --size11: 0.68rem;
  --size13: 0.81rem;
  --size14: 0.85rem;
  --size16: 1rem;
  --size18: 1.12rem;
  --size20: 1.25rem;
  --size22: 1.37rem;
  --size24: 1.5rem;
  --size26: 1.62rem;
  --size28: 1.75rem;
  --size30: 1.87rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 275rem;
  --sizw48: 3rem;
  --size50: 3.12rem;
  --size54: 3.37rem;
  --size60: 3.75rem;
  --size96: 6rem;
}


.card-group {
  width: 1680px;
  margin: 0 auto;
}

.card-group__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-group__item {
  width: 390px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-group__card {
  width: 370px;
  margin-top: 70px;
  padding: 20px 15px 35px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: 0px 18.83px 47.08px 0px #2f327d1a;
}

.card-group__card__image {
  width: 340px;
}

.card-group__card__box {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-group__box__left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-group__box__right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-group__card__title {
  margin: 20px 0;
  font-weight: 500;
  font-size: var(--size24);
}

.card-group__text {
  font-weight: 400;
  font-size: var(--size18);
  color: #696984;
}

.card-group__box-left__img {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.card-group__box-left__image {
  width: 70px;
  height: auto;
  margin-top: 40px;
  background: #d9d9d9;
}

.card-group__card__box-left__text-sab {
  font-weight: 500;
  font-size: var(--size18);
  color: #000;
}

.card-group__box-right__text-number-del {
  font-weight: 300;
  font-size: var(--size18);
  color: #00000080;
}

.card-group__box-right__text-number-del::before {
  content: "$";
}
.card-group__box-right__text-number {
  font-weight: 700;
  font-size: var(--size24);
  color: #49bbbd;
}

.card-group__box-right__text-number::before {
  content: "$";
}



@media (max-width: 1700px) {
  .card-group {
    width: 1200px;
  }
  .card-group__list {
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-group__item {
    margin: 0 auto;
  }
}


@media (max-width: 1300px) {
  .card-group {
    width: 950px;
  }

  .card-group__list {
    width: 950px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-group__card {
    width: 430px;
  }

  .card-group__card__image {
    width: 400px;
  }
}



@media (max-width: 1000px) {
  .card-group {
    width: 700px;
  }

  .card-group__list {
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-group__item {
    width: 340px;
  }

  .card-group__card {
    width: 320px;
  }

  .card-group__card__image {
    width: 290px;
  }
}


@media (max-width: 750px) {
  .card-group {
    width: 500px;
  }

  .card-group__list {
    width: 500px;
    grid-template-columns: repeat(1, 1fr);
  }

  .card-group__item {
    width: 480px;
  }

  .card-group__card {
    width: 460px;
  }

  .card-group__card__image {
    width: 430px;
  }
}


@media (max-width: 550px) {
  .card-group {
    width: 350px;
  }

  .card-group__list {
    width: 350px;
  }
  .card-group__item {
    width: 340px;
  }
  .card-group__card {
    width: 320px;
    padding: 10px 10px 25px;
  }
  .card-group__card__image {
    width: 300px;
  }
}


@media (max-width: 400px) {
  .card-group {
    width: 280px;
  }
  .card-group__list {
    width: 280px;
  }
  .card-group__item {
    width: 260px;
  }
  .card-group__card {
    width: 250px;
  }
  .card-group__card__image {
    width: 220px;
  }
}