* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --size11: 0.68rem;
  --size13: 0.81rem;
  --size14: 0.85rem;
  --size16: 1rem;
  --size18: 1.12rem;
  --size20: 1.25rem;
  --size22: 1.37rem;
  --size24: 1.5rem;
  --size26: 1.62rem;
  --size28: 1.75rem;
  --size30: 1.87rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 275rem;
  --sizw48: 3rem;
  --size50: 3.12rem;
  --size54: 3.37rem;
  --size60: 3.75rem;
  --size96: 6rem;
}

.container{
  max-width: 1900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=Checkout-page.css.map */

.wrapper__box__one{
  width: 962px;
  height: 909px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: 0px 18.83px 47.08px 0px #2F327D1A;
}

.wrapper__box__one__title{
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252641;
  margin: 50px 50px 0px;
}
.wrapper__box__one__text{
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #5B5B5B;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 50px;
  margin-top: 9px;
  margin-bottom: 38px;
}
.wrapper__box__one__images{
  display: flex;
  gap: 20px;
  margin-left: 45px;
  margin-bottom: 85px;
  cursor: pointer;
}
.wrapper__box__one__images__one{
  width: 170px;
  height: 92px;
}
.wrapper__box__one__form__label{
  margin-left: 50px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #5B5B5B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__input{
  width: 842px;
  height: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 21px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__input__one{
  width: 403px;
  height: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: -14px;
  padding-left: 21px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__label__one{
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
} 
.wrapper__box__one__form__checkbox{
  margin-left: 50px;
}
.wrapper__box__one__form__box{
  display: flex;  
}
.wrapper__box__one__btn{
  margin-left: 50px;
  margin-top: 50px;
  width: 842px;
  height: 63px;
  background-color: #49BBBD;
  border-radius: 12px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  cursor: pointer;
}