* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --size11: 0.68rem;
  --size13: 0.81rem;
  --size14: 0.85rem;
  --size16: 1rem;
  --size18: 1.12rem;
  --size20: 1.25rem;
  --size22: 1.37rem;
  --size24: 1.5rem;
  --size26: 1.62rem;
  --size28: 1.75rem;
  --size30: 1.87rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 275rem;
  --sizw48: 3rem;
  --size50: 3.12rem;
  --size54: 3.37rem;
  --size60: 3.75rem;
  --size96: 6rem;
}

.container{
  max-width: 1900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=Checkout-page.css.map */
.wrapper .container{
  display: flex;
  gap: 52px;
  padding-left: 100px;
}
.wrapper__box__one{
  width: 962px;
  height: 909px;
  padding-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 18.83px 47.08px 0px #2F327D1A;
}

.wrapper__box__one__title{
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252641;
  margin: 0px 50px 0px;
}
.wrapper__box__one__text{
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #5B5B5B;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 50px;
  margin-top: 9px;
  margin-bottom: 38px;
}
.wrapper__box__one__images{
  display: flex;
  gap: 20px;
  margin-left: 45px;
  margin-bottom: 85px;
  cursor: pointer;
}
.wrapper__box__one__images__one{
  width: 170px;
  height: 92px;
}
.wrapper__box__one__form__label{
  margin-left: 50px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #5B5B5B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__input{
  width: 842px;
  height: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 21px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__input__one{
  width: 403px;
  height: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: -14px;
  padding-left: 21px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
}
.wrapper__box__one__form__label__one{
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: #9D9B9B;
  line-height: 100%;
  letter-spacing: 0%;
} 
.wrapper__box__one__form__checkbox{
  margin-left: 50px;
}
.wrapper__box__one__form__box{
  display: flex;  
}
.wrapper__box__one__btn{
  margin-left: 50px;
  margin-top: 50px;
  width: 842px;
  height: 63px;
  background-color: #49BBBD;
  border-radius: 12px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  cursor: pointer;
}
.wrapper__box__ONE__page{
  width: 662px;
  height: 650px;
  background-color: rgba(157, 204, 255, 0.2);
  border-radius: 20px;
}
.wrapper__box__ONE__page__title{
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  color: #252641;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 30px 30px 50px;
}
.wrapper__box__ONE__page__box{
  width: 596px;
  margin: 0px 30px 20px;
  display: flex;
  gap: 22px;
  padding: 0px 0px 20px;
  border-bottom: 0.5px solid #5B5B5B;
}
.wrapper__box__ONE__page__box__list{
  padding: 2px;
}
.wrapper__box__ONE__page__box__list__item:nth-child(1){
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #000000;
  line-height: 180%;
  letter-spacing: 2%;
}
.wrapper__box__ONE__page__box__list__item:nth-child(2){
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #5B5B5B;
  line-height: 180%;
  letter-spacing: 2%;
}
.wrapper__box__ONE__page__box__list__item:nth-child(3){
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #000000;
  line-height: 180%;
  letter-spacing: 2%;
}
.wrapper__box__ONE__page__list{
  padding: 0px 30px;
}
.wrapper__box__ONE__page__list__item{
  width: 596px;
  display: flex;
  justify-content: space-between;
  padding: 0px 6px 11px 11px;
  margin-bottom: 11px;
  border-bottom: 0.5px solid #5B5B5B;
}
.wrapper__box__ONE__page__list__item__text{
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: #5B5B5B;
  line-height: 180%;
  letter-spacing: 2%;
}
.wrapper__box__ONE__page__list__item__text__one{
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: #000000;
  line-height: 180%;
  letter-spacing: 2%;
}
.wrapper__box__ONE__page__list__item:nth-child(4){
  border: none;
}
.navar .container{
  margin-top: 158px;
  padding-left: 100px;
  padding-right: 70px;
}
.navar__box__two{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navar__box__three{
  display: flex;
  gap: 73.31px;
}
.navar__box__title{
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  line-height: 100%;
  letter-spacing: 2%;
}
.navar__box__link{
  padding-right: 80px;
}
.navar__box__one{
  position: relative;
  width: 509.11px;
  height: 500px;
  background-image: url(/assets/images/Checkout-page-nav1.png);
  background-repeat: no-repeat;
  margin-top: 70px;
}
.navar__box__link{
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  color: #49BBBD;
  letter-spacing: 0%;
}
.navar__box__one__image__one{
  margin-top: 45px;
  margin-left: 45.82px; 
}
.navar__box__one__image{
  position: absolute;
  left: 60px;
  top: 80px;
}
.navar__box__one__title{
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 48.82px;
  margin-top: 28px;
  margin-bottom: 9px;
}
.navar__box__one__text{
  width: 332px;
  margin-left: 48.82px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 180%;
  letter-spacing: 2%;
}
.navar__box__one:nth-child(2){
  background-image: url(/assets/images/Checout-page-nav4.png);
}
.navar__box__one:nth-child(3){
  background-image: url(/assets/images/Checkout-page-nav6.png);
}
.subcontent .container{
  background-color: #252641;
  padding-left: 100px;
  margin-top: 87px;
  padding-top: 74px;
  margin-bottom: 100px;
  padding-bottom: 40px;
}
.subcontent__box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subcontent__box__image{
  padding-right: 77px;
  border-right: 1px solid #626381;
  cursor: pointer;
}
.subcontent__box__title{
  margin-left: 41px;
  width: 156px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 150%;
  letter-spacing: 4%;
}
.subcontent__box__title__two{
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  color: #B2B3CF;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  margin-top: 95px;
}
.subcontent__box__one{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.subcontent__box__one__forma__input{
  width: 400px;
  height: 60px;
  opacity: 1;
  border-radius: 80px;
  border: 1px solid #83839A;
  padding-left: 30px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  color: #83839A;
  line-height: 100%;
  letter-spacing: 4%;
  background-color: #252641;
}
.subcontent__box__one__forma__btn{
  width: 179px;
  height: 60px;
  opacity: 1;
  border-radius: 60px;
  background-color: #49BBBD;
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}
.subcontent__box__list{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
}
.subcontent__box__list__item{
  font-family: Poppins;
  font-weight: 400;
  font-size: 22px;
  color: #B2B3CF;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  padding-right: 20px;
  border-right: 1px solid #626381;
  margin-left: 20px;
  cursor: pointer;
}
.subcontent__box__list__item:nth-child(3){
  border: none;
}
.subcontent__box__title__one{
  text-align: center;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 22px;
  color: #B2B3CF;
  line-height: 100%;
  letter-spacing: 4%;
}