* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

:root{
    --size11: 0.68rem;
    --size13: 0.81rem;
    --size14: 0.85rem;
    --size16: 1rem;
    --size18: 1.12rem;
    --size20: 1.25rem;
    --size22: 1.37rem;
    --size24: 15rem;
    --size26: 1.62rem;
    --size28: 1.75rem;
    --size30: 1.87rem;
    --size32: 2rem;
    --size36: 2.25rem;
    --size40: 2.5rem;
    --size44: 275rem;
    --sizw48: 3rem;
    --size50: 3.12rem;
    --size54: 3.37rem;
    --size60: 3.75rem;
    --size96: 6rem;
}

.header {
  background: transparent;
}

.header__container {
  width: 1900px;
  margin: 0 auto;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__rigth {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 70px;
  align-items: center;
}

.header__link {
  color: #5b5b5b;
  font-weight: 400;
  font-size: var(--size22);
}

.header__box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__box-img {
  width: 60px;
  height: 60px;
  margin: 0 0 0 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #D9D9D9;
}

.header__box__image{
    width: 70px;
    margin: 30px 10px 0 0 ;
}

.header__text{
    font-weight: 500;
    font-size: var(--size18);
}

@media (max-width: 1900px){
    .header__container{
        width: 95%;
        padding: 30px 80px;
    }
}

@media (max-width: 1500px){
    .header__container{
        padding: 20px 50px;
    }
    .header__list{
        gap: 30px;
    }
    .header__box-img{
        margin: 0 0 0 20px;
    }
}

@media (max-width: 1200px){
    .header__container{
        padding: 20px 30px;
    }
    .header__logo{
        width: 80px;
    }
    .header__list{
        gap: 20px;
    }
    .header__link{
        font-size: var(--size18);
    }
    .header__box-img{
        width: 50px;
        height: 50px;
    }
    .header__box__image{
        width: 60px;
    }
    .header__text{
        font-size: var(--size16);
    }
}

@media (max-width: 800px){
    .header__container{
        padding: 10px 20px;
    }
    .header__link{
        font-size: 12px;
    }
    .header__logo{
        width: 50px;
    }
    .header__list{
        gap: 10px;
    }
    .header__box{
        gap: 5px;
    }
    .header__box-img{
        width: 40px;
        height: 40px;
        margin: 0 0 0 10px;
    }
    .header__box__image{
        width: 50px;
    }
    .header__text{
        display: none;
    }
    .header__svg{
        display: none;
    }

}

@media (max-width: 500px){
    .header__nav{
        display: none;
    }
}