* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

:root {
  --size11: 0.68rem;
  --size13: 0.81rem;
  --size14: 0.85rem;
  --size16: 1rem;
  --size18: 1.12rem;
  --size20: 1.25rem;
  --size22: 1.37rem;
  --size24: 1.5rem;
  --size26: 1.62rem;
  --size28: 1.75rem;
  --size30: 1.87rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 275rem;
  --sizw48: 3rem;
  --size50: 3.12rem;
  --size54: 3.37rem;
  --size60: 3.75rem;
  --size96: 6rem;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main__section--bg-image {
  background-image: url(../images/search-image-1.jpg);
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-opacity {
  width: 100%;
  height: 100%;
  background: #49bbbd5d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__form__search-group {
  width: 1300px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.search__form__search {
  width: 1300px;
  height: 70px;
  padding: 0 0 0 35px;
  border-radius: 10px;
  border: none;
  font-size: var(--size20);
  /* border: 1px solid blue; */
}

.search__form__btn {
  padding: 15px 42px;
  border-radius: 12px;
  border: none;
  position: absolute;
  right: 5px;
  font-weight: 700;
  font-size: var(--size24);
  color: #fff;
  background-color: #49bbbd;
}

.search__form__nav-group{
  margin: 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* display: none; */
}

.search__form__select {
  padding: 18px 40px 18px 18px;
  border-radius: 10px;
  appearance: none;
  background-image: url(../images/lucide--chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right 12px center;
  font-weight: 500;
  font-size: var(--size24);
}

@media (max-width: 1500px){
  .search__form__search-group{
    width: 1000px;
    margin: 0 auto;
  }
  .search__form__nav-group{
    width: 1000px;
    /* flex-wrap: wrap; */
  }
  .search__form__select{
    font-size: var(--size20);
  }
}

@media (max-width: 1300px){
  .search__form__search-group{
    width: 900px;
  }
  .search__form__nav-group{
    width: 900px;
    display: flex;
    flex-direction: row;    
  }
  .search__form__select{
    padding: 10px 35px 10px 10px;
    font-size: var(--size18);
    background-size: 20px;
  }
}

@media (max-width: 1000px){
  .search__form__search-group{
    width: 650px;
  }
  .search__form__search{
    font-size: var(--size20);
  }
  .search__form__btn{
    font-size: var(--size18);
  }
  .search__form__nav-group{
    width: 650px;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .search__form__select{
    padding: 15px 40px 15px 15px;
  }
}

@media (max-width: 750px ){
  .search__form__search-group{
    width: 500px;
  }
  .search__form__nav-group{
    width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px){
  .search__form__nav-group{
    display: none;
  }
  .search__form__search-group{
    width: 350px;
    gap: 10px;
    flex-direction: column;
  }
  .search__form__search{
    width: 350px;
    height: 50px;
    font-size: var(--size16);
  }
  .search__form__btn{
    width: 100%;
    position: static;
  }
}
@media (max-width: 400px){
  .search__form__search-group{
    width: 290px;
  }
  .search__form__search{
    width: 290px;
  }
}